/* Général */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  flex-direction: column; /* Permet de centrer le contenu verticalement */
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

p {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
  font-size: 20px;
}

/* Formulaire */
form {
  background-color: #F9D97B;
  padding: 60px; /* Augmenter l'espace intérieur */
  padding-right: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Formulaire occupe 100% de l'espace disponible */
  max-width: 400px; /* Ajuste la largeur maximale pour les grands écrans */
  box-sizing: border-box;
  margin: 0 auto; /* Centre le formulaire horizontalement */
  display: flex; /* Ajout d'un display flex pour l'alignement du contenu */
  flex-direction: column; /* Permet d'avoir les éléments alignés verticalement */
}

/* Champs de formulaire */
.loginField {
  display: flex;
  flex-direction: column; /* Aligne le label et le champ de saisie verticalement */
  margin-bottom: 20px; /* Espacement entre les champs */
}

.loginField label {
  font-size: 18px; /* Augmente la taille du texte */
  color: #333;
  margin-bottom: 5px; /* Espacement entre le label et le champ */
}

.loginField input[type="email"],
.loginField input[type="password"] {
  width: 100%; /* Champs prennent toute la largeur du formulaire */
  padding: 15px; /* Augmenter l'espace à l'intérieur des champs */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Augmenter la taille du texte dans les champs */
  text-align: left;
}

.loginField input[type="email"]:focus,
.loginField input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Message d'erreur */
.error-message {
  color: red;
  font-size: 1.2em; /* Augmenter la taille du texte de l'erreur */
  margin-top: 10px;
  text-align: center;
}

/* Bouton de soumission */
input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 20px; /* Augmenter la taille du bouton */
  width: 100%;
  font-size: 18px; /* Augmenter la taille du texte du bouton */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.signup-link {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Adaptation mobile */
@media (max-width: 600px) {
  form {
    width: 90%; /* Réduit la largeur pour les petits écrans */
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }
}